* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
  color: rgba(255, 219, 174, 0.799);
  font-weight: 700;
  text-shadow: 1px 1px 1px white;
}

header {
  text-align: left;
  background-color: black;
  padding: 5px 5%;
}

.app {
  height: 100vh;
  background-image: url("/images/jungle.jpg");
}
